  <h1>Bienvenido a Sinatra!</h1>
  <p>Este es un esqueleto de sinatra que armamos para ti</p>

 <p>Primero</p> 
<form action="/cool_url" method = "GET">
  First name:<br>
  <input type="text" name="firstname" value="Ivan"><br>
  Last name:<br>
  <input type="text" name="lastname" value="Gonzalez"><br><br>
  <input type="submit" value="Submit">
</form>

 <p>Segundo</p> 
 <form action="/cool_url" method = "POST">
  First name:<br>
  <input type="text" name="firstname" value="Miguel"><br>
  Last name:<br>
  <input type="text" name="lastname" value="Hidalgo"><br><br>
  <input type="submit" value="Submit">
</form>
